*.class
*.class

StonoteniskiKlub/bin/application/gui/organizator/view/DublPrijavaView\.fxml

StonoteniskiKlub/bin/application/gui/organizator/view/DublZrijebView\.fxml

StonoteniskiKlub/bin/application/gui/trener/view/UclanjivanjeView\.fxml

StonoteniskiKlub/bin/application/gui/organizator/view/SinglPrijavaView\.fxml

StonoteniskiKlub/bin/application/gui/organizator/view/SinglTurnirView\.fxml

StonoteniskiKlub/bin/application/gui/organizator/view/SinglZrijebView\.fxml

StonoteniskiKlub/bin/application/gui/organizator/view/TurniriView\.fxml

*.properties
