
.login{
    -fx-background-image: url("login2.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}
.user{
	-fx-background-image: url("user.png");
	   -fx-background-repeat: no-repeat;
}
.password{
	-fx-background-image: url("key-icon.png");
	   -fx-background-repeat: no-repeat;
}

.button{
	-fx-background-color: #00527A;
	-fx-text-fill: #f2e9e9;
	}